sqldb-copy/
www/wampthemes/
www/testmysql.php
www/test_sockets.php
www/index.php
www/favicon.ico
www/add_vhost.php
www/TestPractice/test.php
www/Spring2016CSC335/
www/CSC335/
bin/apache/
apps/
alias/
tmp/
scripts/
logs/
lang/
bin/php/
cgi_bin/
bin/
bin/mysql/mysql5.7.9/share/
bin/mysql/mysql5.7.9/bin/
bin/mysql/mysql5.7.9/data/universitydb
bin/mysql/mysql5.7.9/data/test
bin/mysql/mysql5.7.9/data/sys
bin/mysql/mysql5.7.9/wampserver.conf
bin/mysql/mysql5.7.9/my.ini
bin/mysql/mysql5.7.9/my-default.ini
bin/mysql/mysql5.7.9/data/performance_schema/
bin/mysql/mysql5.7.9/data/mysql
bin/mysql/mysql5.7.9/data/ibtmp1
bin/mysql/mysql5.7.9/data/ibdata1
bin/mysql/mysql5.7.9/data/ib_logfile1
bin/mysql/mysql5.7.9/data/ib_buffer_pool
bin/mysql/mysql5.7.9/data/auto.cnf
bin/mysql/mysql5.7.9/data/BellaMia.pid
bin/mysql/mysql5.7.9/data/BellaMia.err
bin/mysql/mysql5.7.9/COPYING
bin/mysql/mysql5.7.9/README
bin/mysql/mysql5.7.9/data/ib_logfile0
images_off.bmp
images_on.bmp
install-english.txt
barimage.bmp
wampmanager.tpl
wampmanager.ini
wampmanager.exe
wampmanager.conf
uninstall_services.bat
unins000.exe
unins000.dat
read_after_install-english.txt
license-english.txt